body {
    background: #E3E8FF;
}

.location-header {
    position: absolute;
    width: 195px;
    height: 31px;
    left: 109px;
    top: 100px;
    
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 31px;
    text-align: center;

    color: #000000;
}

.location-container {
    position: absolute;
    width: 320px;
    height: 370px;
    left: 47px;
    top: 171px;

    text-align: center;
    
    background: #9AAAFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.location-name {
    position: relative;
    top: 40px;
    
    font-family: Overpass;
    font-style: normal;
    font-size: 24px;
    
    color: #FFFFFF;
}

.location-photo {
    position: relative;
    width: 200px;
    height: 200px;
    top: 80px;
    border-radius: 50%;
}

.subscribe-message {
    position: relative;
    top: 597px;
    
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;

    color: #000000;
}

.subscribe-button {
    position: absolute;
    width: 350px;
    height: 60px;
    left: 32px;
    top: 648px;
    background: #7c90ff;
    border: none;
    border-radius: 15px;

    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}

.subscribed-button {
    position: absolute;
    width: 350px;
    height: 60px;
    left: 32px;
    top: 648px;
    background: #A0A5C4;
    border: none;
    border-radius: 15px;

    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #D2D5E4;
}

.loading {
    position: relative;
    top: 150px;

    font-family: Overpass;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;

    color: #000000;
}
